# 1. Manipulate using a list.
1.) To add new elements to the end of the list
2.) To reverse eleemnts in the list
3.)To display the same list of elements multiple times
4.)To concatenate two list
5.)To sort the elements in the list in ascending order

In [1]:
lst=[1,2,3,4,5]

In [3]:
lst.append(6)

In [4]:
lst

[1, 2, 3, 4, 5, 6]

In [5]:
lst.reverse()

In [6]:
lst

[6, 5, 4, 3, 2, 1]

In [7]:
l=[10,20,30,40]

In [8]:
lm=l*5

In [9]:
lm

[10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40,
 10,
 20,
 30,
 40]

In [10]:
l1=['a','b','c','d'], l2=['1','2','3','4']

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3323634452.py, line 1)

In [11]:
l1=[10,11,12,13,14]
l2=[15,16,17,18,19]
l1.concat(l2)

AttributeError: 'list' object has no attribute 'concat'

In [12]:
l1+l2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
l1.sort()

In [14]:
l1

[10, 11, 12, 13, 14]

In [15]:
l3=[2,18,9,5,21,64]
l3.sort()

In [16]:
l3

[2, 5, 9, 18, 21, 64]

# 2. Write a python program to do in tuples
1.)Manipulating using tuples
2.)To add new elememts to the end of tuples
3.)To reverse elements in list
4.)To display the elements of the same tuple multiple times
5.)To concatenate two tuples
6.)To sort the elements in the list in ascending order

In [17]:
tup=(1,2,3)
#Accessing elements
tup[2]

3

In [18]:
#Subset of tuple
subset=tup[1:2]

In [19]:
subset

(2,)

In [20]:
#concatenating tuples
tup1=(1,2)
tup2=(3,4)
tup=tup1+tup2

In [21]:
tup

(1, 2, 3, 4)

In [22]:
#length of tuple
len(tup)

4

In [23]:
#checking if elements exists in tuple
2 in tup

True

In [24]:
for item in tup:
    print(item)

1
2
3
4

In [25]:
tup=(10,20,30,40,50)
tup.append(60,70)
tup

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
tup=(10,20,30,40,50)
tup_add=(60,70,80)
tup+tup_add

(10, 20, 30, 40, 50, 60, 70, 80)

In [27]:
tup.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [28]:
tup[::-1]

(50, 40, 30, 20, 10)

In [29]:
tup=(1,2,3,4,5)
tup*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [30]:
t1=(5,6,7,8)
t2=(1,2,3,4)
t1+t2

(5, 6, 7, 8, 1, 2, 3, 4)

In [31]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [32]:
tup=(8,2,5,10,92)
lst=list(tup)
lst

[8, 2, 5, 10, 92]

In [33]:
lst.sort()

In [34]:
sort_tup=tuple(lst)
sort_tup

(2, 5, 8, 10, 92)

# 3.Write a python program to implement the following using list.

Create a list with integers (minimum 10 numbers)

How to display the last number in the list

Command for displaying the values from the list [0:4]

Command for displaying the values from the list [2:]

Command for displaying the values from the list [:6]

In [1]:

# Create a list with integers (minimum 10 numbers)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Display the last number in the list
last_number = my_list[-1]
print("Last number in the list:", last_number)

Last number in the list: 10

In [3]:
# Display values from the list [0:4]
subset1 = my_list[0:4]
print("Values from the list [0:4]:", subset1)

Values from the list [0:4]: [1, 2, 3, 4]

In [4]:

# Display values from the list [2:]
subset2 = my_list[2:]
print("Values from the list [2:]:", subset2)

Values from the list [2:]: [3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# Display values from the list [:6]
subset3 = my_list[:6]
print("Values from the list [:6]:", subset3)

Values from the list [:6]: [1, 2, 3, 4, 5, 6]

# 4. Write a python program:tuple1=(10,50,20,40,30)
    1.)To display elements 10 and 50 from tuple1
    2.)To display the length of tuple 1
    3.)To find the minimum element from tuple1
    4.)To add all elemets in the tuple1
    5.)To disply the same tuple1 multiple times

In [35]:
tuple1=(10,50,20,40,30)
tuple1[:1]

(10,)

In [36]:
tuple1[0:2]

(10, 50)

In [37]:
len(tuple1)

5

In [38]:
lst=list(tuple1)
lst

[10, 50, 20, 40, 30]

In [39]:
lst.sort()
sort_tup=tuple(lst)

In [40]:
sort_tup[0]

10

In [41]:
#add all elements in tuple1
tuple1=(10,50,20,40,30)
total=0
for element in tuple1:
    total+=element
    
print(total)

150

In [42]:
5*tuple1

(10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30)

# 5. Write a python program:
    1.)To calculate the length of string
    2.)To revere words in a string
    3.)To display the same string multiple times
    4.)To concatenate two strings
    5.)Str1="South India", using string slicing to display "India"

In [43]:
str="Hello world"
len(str)

11

In [44]:
str[::-1]

'dlrow olleH'

In [45]:
str*5

'Hello worldHello worldHello worldHello worldHello world'

In [46]:
s1='Hello'
s2='World'
s1+" "+s2

'Hello World'

In [47]:
Str1="South India"
Str1[6:]

'India'

In [48]:
Perform the following:
    1.)Creating dictionary
    2.)Accessing values and keys in dictionary
    3.)Updating dictionary using a function
    4.)Clear and delete the dictionary values

SyntaxError: unmatched ')' (2734154045.py, line 2)

# 6. Perform the following:
    1.)Creating dictionary
    2.)Accessing values and keys in dictionary
    3.)Updating dictionary using a function
    4.)Clear and delete the dictionary values

In [49]:
person={'f_name':'John','l_name':'Federer','age':35,'city':'Delhi'}

In [50]:
person

{'f_name': 'John', 'l_name': 'Federer', 'age': 35, 'city': 'Delhi'}

In [51]:
person['age']

35

In [52]:
person[35]

KeyError: 35

In [53]:
person['city']

'Delhi'

In [54]:
person.values()

dict_values(['John', 'Federer', 35, 'Delhi'])

In [55]:
person.keys()

dict_keys(['f_name', 'l_name', 'age', 'city'])

In [56]:
person.items()

dict_items([('f_name', 'John'), ('l_name', 'Federer'), ('age', 35), ('city', 'Delhi')])

In [57]:
person.update({'age':'30'})

In [58]:
person

{'f_name': 'John', 'l_name': 'Federer', 'age': '30', 'city': 'Delhi'}

In [59]:
person.pop('age')

'30'

In [60]:
person

{'f_name': 'John', 'l_name': 'Federer', 'city': 'Delhi'}

In [61]:
person.pop('l_name')

'Federer'

In [62]:
person.update({'age':40})

In [63]:
person

{'f_name': 'John', 'city': 'Delhi', 'age': 40}

# 7. Python program to insert a number to any position in a list

In [64]:
lst=[1,2,3,5,6,8]
lst.insert(3,4)

In [65]:
lst

[1, 2, 3, 4, 5, 6, 8]

In [66]:
lst.insert(6,'seven')

In [67]:
lst

[1, 2, 3, 4, 5, 6, 'seven', 8]

# 8. Python program to delete an element from alist by index

In [68]:
lst=[1,2,3,4,5,6,7,8,9]
list.remove(3)

TypeError: descriptor 'remove' for 'list' objects doesn't apply to a 'int' object

In [69]:
del lst[3]

In [70]:
lst

[1, 2, 3, 5, 6, 7, 8, 9]

In [71]:
del lst[0]

In [72]:
lst

[2, 3, 5, 6, 7, 8, 9]

# 9. Python program to display a number from 1 to 100

In [73]:
for num in range(1,101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Python program to find the sum of all items in a tuple

In [74]:
tup=(1,2,3,4,5)
total=0
for num in tup:
    total+=num
print(total)

15

# 11. Create a dictionary containing three lambda functions square,cube and square root
1.)Eg.dict={'Square':function for squaring,'Cube':function for cube,'square root':function for square root}
2.)Pass the values (input from the user)to the functions in the dictionary respectively
3.)Then add the outputs of each function and print it

# Write python program to find the first N prime numbers

In [2]:
dict = {
    'Square': lambda x: x**2,
    'Cube': lambda x: x**3,
    'Squareroot': lambda x: x**0.5
       }

n=float(input("Enter a number: "))
r= 0
for fname, f in dict.items():
    output = f(n)
    r += output

print("Sum of outputs:", r)

Enter a number: 2
Sum of outputs: 13.414213562373096

# 12. A list of words is given.Find the words from the list that have their second character in uppercase. ls=['hello','Dear','hOw','ARe','You']

In [3]:
lst = ['hello', 'Dear', 'hOw', 'ARe', 'You']
caplst = []

for w in lst:
    if len(w) > 1 and w[1].isupper():
        caplst.append(w)

print(caplst)

['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon.(use map and lambda functions)Formula:wMoon=(wEarth*GMoon)/GEarth
1.) #Weight of people in kg
         WeightOnEarth ={'John':45,'Shelly':65,'Marry':35}
2.) #Gravitational force on the Moon:1.62 m/s2
         GMoon= 1.622
3.) # Gravitational force on the earth:9.81 m/s2
         GEarth =9.81

In [4]:

wEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81

wMoon = list(map(lambda p: (p[0], (p[1] * GMoon) / GEarth), wEarth.items()))
for p, wMoon in wMoon:
    print(f"{p}'s weight on the Moon: {wMoon:.2f} kg")

John's weight on the Moon: 7.44 kg
Shelly's weight on the Moon: 10.75 kg
Marry's weight on the Moon: 5.79 kg

# Control Structures

# 1. Write a python program to find the first N prime numbers

In [36]:
def prime(n):
    if n<= 1:
        return False
    elif n<= 3:
        return True
    elif n%2==0 or n%3== 0:
        return False
    i = 5
    while i * i <= n:
        if n%i==0 or n%(i + 2)==0:
            return False
        i += 6
    return True

def fun(n):
    lst = []
    num = 2
    while len(lst) < n:
        if prime(num):
            lst.append(num)
        num += 1
    return lst

n = int(input("Enter the value of n: "))
listofprime= fun(n)
print(f"The first {n} prime numbers are: {listofprime}")

Enter the value of n: 5
The first 5 prime numbers are: [2, 3, 5, 7, 11]

# 2. Write the python code that calculates the salary of an employee.Prompt the user to enter the Basic salary,HRA,TA and DA. Add these components to calculate the gross salary.Also,deduct 10% of salary from the gross salary to be paid as tax and display gross minus tax as net salary

In [8]:
basic = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))
gross= basic+hra+ta+da
tax= 0.10 * gross
net= gross-tax
print(f"Gross Salary: {gross}")
print(f"Net Salary: {net}")

Enter Basic Salary: 30000
Enter HRA: 10000
Enter TA: 3000
Enter DA: 2000
Gross Salary: 45000.0
Net Salary: 40500.0

# 3.Write a python program to search for a string in the given list

In [10]:
def search(str,lst):
    final= []
    for i, item in enumerate(lst):
        if str in item:
            final.append(i)
    
    if final:
        print(f"The string '{str}' is found in the given list at indices: {final}")
    else:
        print(f"The string '{str}' not found in the list.")

lst= ["python", "java", "github", "jupyter", "github"]
str = "github"
search(str,lst)

The string 'github' is found in the given list at indices: [2, 4]

# 4.Write a python function that accepts a string and calculates the number of upper-case letters and lower-case letters

In [11]:
def fun(str):
    ucount = 0
    lcount = 0
    
    for i in str:
        if i.isupper():
            ucount += 1
        elif i.islower():
            lcount += 1
    return ucount, lcount


str = input()
ucount,lcount = fun(str)
print("Uppercase letters:", ucount)
print("Lowercase letters:", lcount)

We are learning Python
Uppercase letters: 2
Lowercase letters: 17

# 5.Write a python program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [12]:
odd = 0
even = 0
for n in range(12,38):
    if n % 2 == 0:
        even += n
    else:
        odd += n
print("Sum of even numbers that fall between 12 and 37 is:",even)
print("Sum of odd numbers that fall between 12 and 37 is:",odd)

Sum of even numbers that fall between 12 and 37 is: 312
Sum of odd numbers that fall between 12 and 37 is: 325

# 6.Write a python program  to print the table of any number

In [13]:
n = int(input("Enter the number: "))
print(f"The Table of {n} is:")
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter the number: 5
The Table of 5 is:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 7.Write a python program to sum the first 10 prime numbers

In [14]:
def prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

c= 0
sum= 0
n= 2

while c<10:
    if prime(n):
        sum+=n
        c+=1
    n+=1

print(f"The sum of the first 10 prime numbers is: {sum}")

The sum of the first 10 prime numbers is: 129

# 8.Write a python program to implement arithmetic operations using nested if statement

In [15]:
n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
op= input("Choose the arithmetic operation (+, -, *, /): ")

if op == "+":
    r = n1 + n2
elif op == "-":
    r = n1 - n2
elif op == "*":
    r = n1 * n2
elif op == "/":
    if n2 != 0:
        r = n1 / n2
    else:
        r = "Division by zero is not allowed."
else:
    r= "Invalid operation"

print(f"Result: {r}")

Enter the first number: 2
Enter the second number: 3
Choose the arithmetic operation (+, -, *, /): +
Result: 5.0

# 9.Write a python program to take the temperature in celsius and convert it into farenheit

In [16]:
c = float(input("Enter temperature in Celsius: "))
f = (c * 9/5) + 32
print(f"{c} degrees Celsius is equal to {f} degrees Fahrenheit")

Enter temperature in Celsius: 30
30.0 degrees Celsius is equal to 86.0 degrees Fahrenheit

# 10.Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [19]:
def fun(lst):
    max= min= lst[0]
    for n in lst:
        if n>max:
            max = n
        if n<min:
            min = n
    return max, min

lst = [10,90,25,1,68,24,62,9,81]
max, min= fun(lst)
print(f"Maximum: {max}")
print(f"Minimum: {min}")

Maximum: 90
Minimum: 1

# 11. Write a python program to print out the number of seconds in 30-day month 30 days,24 hours in a day,60 minutes per day,60 seconds in a minute

In [21]:
days = 30
hours = 24
minutes= 60
seconds= 60

result= days* hours* minutes* seconds

print(f"There are {result} seconds in a 30-day month.")

There are 2592000 seconds in a 30-day month.

# 12.Write a python program to print out the number of seconds in a year

In [22]:
days= 365
hours= 24
minutes= 60
seconds= 60
result= days* hours* minutes* seconds
print(f"The number of seconds in a year (assuming 365 days) is: {result} seconds")

The number of seconds in a year (assuming 365 days) is: 31536000 seconds

# 13.A high speed train can travel at an average apeed of 150 mph,how long will it take a train travelling at this speed to travel from london to galsgow which is 414 miles away?

In [23]:
d= 414
s= 150
t= d/s

h = int(t)
min= (t - h) * 60
print(f"It will take approximately {h} hours and {min:.2f} minutes to travel from London to Glasgow.")

It will take approximately 2 hours and 45.60 minutes to travel from London to Glasgow.

# 14. Write a python program that defines a variable called days_in_each_school_year ans assign 192 to the variable.The program should then print out the total hours that you spend in school from year 7 to year 11,if each day you spend 6 hours in school_day_in_eacg_school_year=192

In [27]:
days= 192
years= 5
total= years*days*6 

print(f"Total hours spent in school from year 7 to year 11: {total} hours")

Total hours spent in school from year 7 to year 11: 5760 hours

# 15. IF the age of Ram,Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three

In [28]:
ram= int(input("Enter Ram's age: "))
sam= int(input("Enter Sam's age: "))
khan= int(input("Enter Khan's age: "))
if ram>= sam and ram>= khan:
    e= "Ram"
    if sam<= khan:
        y= "Sam"
    else:
        y= "Khan"
elif sam>= ram and sam >= khan:
    e= "Sam"
    if ram<= khan:
        y= "Ram"
    else:
        y= "Khan"
else:
    e= "Khan"
    if ram<= sam:
        y= "Ram"
    else:
        y = "Sam"
        
print(f"The eldest among Ram, Sam, and Khan is: {e}")
print(f"The youngest among Ram, Sam, and Khan is: {y}")

Enter Ram's age: 25
Enter Sam's age: 23
Enter Khan's age: 29
The eldest among Ram, Sam, and Khan is: Khan
The youngest among Ram, Sam, and Khan is: Sam

# 16. Write a python program to rotate a list by right n times wihth and without slicing technique

In [30]:
def funwithslice(lst1, n):
    if len(lst1) == 0:
        return lst1
    
    n %= len(lst)  
    lst2= lst1[-n:] + lst1[:-n]
    return lst2

lst = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

lst2= funwithslice(lst, n)
print("Rotated list using slicing technique:", lst2)

Enter the number of times to rotate to the right: 2
Rotated list using slicing technique: [4, 5, 1, 2, 3]

In [31]:
def funwithoutslice(lst1, n):
    if len(lst1) == 0:
        return lst1
    
    n %= len(lst1) 
    for _ in range(n):
        temp = lst1.pop()
        lst1.insert(0, temp)
    return lst1

lst = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

lst2= funwithoutslice(lst, n)
print("Rotated list without slicing technique:", lst2)

Enter the number of times to rotate to the right: 3
Rotated list without slicing technique: [3, 4, 5, 1, 2]

# 17. Python program to print the patterns given below:
    1
    1  1
    1  2  1
    1  3  3  1
    1  4  6  4  1
    1  5  10 10 5  1
    1  6  15 20 15 6  1

In [32]:
n = int(input("Enter the number of rows: "))
def fun(n, k):
    if k == 0 or k == n:
        return 1
    return fun(n - 1, k - 1) + fun(n - 1, k)
n
for i in range(n):
    for j in range(i + 1):
        print(fun(i, j), end=" ")
    print()

Enter the number of rows: 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# Python program to print the pattern2

In [33]:
n = 5  
for i in range(n):
    for j in range(i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# Python program to print the pattern3

In [34]:
n = int(input("Enter the number of rows: "))
for i in range(1, n + 1):
    print(" " * (n - i), end="")  
    print("* " * i)

Enter the number of rows: 7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# Python program to print the pattern4

In [35]:
w = "Python"
for i in range(len(w) + 1):
    print(w[:i])

P
Py
Pyt
Pyth
Pytho
Python